.post-item
    text-align left
    padding rem(40px) 0
    border-bottom 3px solid lightGray
    center(rem(1000px))
    +below(rem(1000px))
        padding-left rem(20px)
        padding-right rem(20px)
    .author-item
        col(1/6)
        text-align left
        text-decoration none
        +below(cut)
            stack()
        .month-year
            color sec
            font-size rem(18px)
        .icon
          text-align center
          margin-bottom 20px
          .icon-person
            width 90px
            height 80px
        .author-info
          padding-bottom 20px
          .name
            color sec
            font-weight bold
          .info
            color sec
    .content
        col(5/6)
        +below(cut)
            stack()
        a
            text-decoration none
        .date
            color main
        .post-title
            color black
            font-size rem(32px)
            +below(cut)
                text-align center
        .description
            color texts
            mainFont(300)
            font-size rem(20px)
            a
                color sec
                text-decoration underline
