---
layout: default
---

<div class="row phrase-to-share">
  <div class="col-sm-6 text">
    <h2>Ser sobirans tecnològicament comporta tenir els coneixements i la capacitat per decidir sobre la tecnologia</h2>
    <div class="web">
    sobtec.cat
    </div>
  </div>
  <div class="col-sm-6 text">
    <h2>L'evolució de les tecnologies informàtiques està acompanyada d'una constant pèrdua de sobirania. Revertim-ho!</h2>
    <div class="web">
    sobtec.cat
    </div>
  </div>
</div>
<div class="row phrase-to-share">
  <div class="col-sm-6 text">
    <h2>El programari lliure no té una presència destacable en sectors on, a priori, hauria de ser hegemònic, com el de l'educació o l'administració pública</h2>
    <div class="web">
    sobtec.cat
    </div>
  </div>
  <div class="col-sm-6 text">
    <h2>La capacitat tecnològica de captar i analitzar dades de forma massiva s'està utilitzant per mercantilitzar les dades privades de les persones</h2>
    <div class="web">
    sobtec.cat
    </div>
  </div>
</div>
<div class="row phrase-to-share">
  <div class="col-sm-6 text">
    <h2>Les millores tecnològiques en sistemes d'informació, debat i presa de decisions no s'apliquen per ampliar les estructures democràtiques dels estats</h2>
    <div class="web">
    sobtec.cat
    </div>
  </div>
  <div class="col-sm-6 text">
    <h2>La nova economia extractiva, sorgida gràcies a l'evolució tecnològica, se salta la legalitat i intenta normalitzar els seus serveis</h2>
    <div class="web">
    sobtec.cat
    </div>
  </div>
</div>
<div class="row phrase-to-share">
  <div class="col-sm-6 text">
    <h2>Barcelona ha de ser, i pot ser, pionera en el desenvolupament de tecnologies enfocades en la satisfacció de necessitats col·lectives</h2>
    <div class="web">
    sobtec.cat
    </div>
  </div>
  <div class="col-sm-6 text">
    <h2>Fem créixer la sobirania tecnològica!</h2>
    <div class="web">
    sobtec.cat
    </div>
  </div>
</div>
