---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


//Bootstrap 3

/* custom variable */
$link-color: #E9E581;
$text-color: #ECECEA;
$main-text-color: #D9853B;
$background-color: #558C89;

@import "bootstrap";


body {
  padding: 0;
  margin: 0;
  font-family: "Archivo Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: $text-color;
  background: $background-color;
}
h1, h2 {
  font-weight: bold;
}
h3 {
  text-decoration: underline
}
a {
  color: $link-color;
}
.header {
  margin-top: 10px;

  .header-subheading {
    color: $main-text-color;
    font-size: 26px;
  }
}
.navigationbar {
  li {
    margin-bottom: 13px;
  }
  li a {
    font-size: 38.5px;
    color: $text-color;
    font-weight: bold;
  }
  li a:hover {
    text-decoration: none;
  }
  li.active a {
    color: $main-text-color;
  }
}

/* BODY */
.body {
  margin-top: 10px;
  margin-bottom: 50px;

  .row{
    margin-bottom: 25px;
  }
}
/* CALENDAR */
#calendar .fc-view-container {
  background: #D9853B;
  opacity: 0.9;
}
.calendar-day h1 {
  text-align: center;
}
.calendar-activity {
  hr {
    border-top: 0;
    border-bottom: 3px dashed #000;
  }
  h2 {
    display: inline;
    font-family: VT323;
    font-weight: normal;
    line-height: 20px;
  }
  .activity-header a.wiki {
    display: inline;
    color: $link-color
  }
  a {
    color: $link-color;
  }
  img {
    margin: 0 auto;
  }
  .speaker-info {
    font-weight: bold;
    text-decoration: underline;
  }
}

.phrase-to-share {
  .text {

  }
  .web {
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
  }
}
/* SOBTEC */

#sobtec-text {
  max-width: 700px
}

footer {
  i {
    color: black;
  }
  h1 {
    margin-bottom: 40px;
  }
  .direccio address p {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
  }
  .segueixnos{
    img {
      max-height: 42px;
    }
  }
  .location {
    text-decoration: underline;
  }
  .brand {
    border-top: 10px dashed;
    border-bottom: 10px dashed;
    font-family: VT323;
    max-width: 255px;
    border-left: 0;
    border-right: 0;
    border-image-source: url(../img/asterisk-border-image.png);
    border-image-slice: 10 10;
    border-image-repeat: round;
  }
  .background {
    height: 200px;
    background-image: url("../img/background.png");
    background-repeat: repeat-x;
    margin-top: 50px;
  }
  .source_code {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857;
    font-size: 16px;
    margin: 0;
    font-weight: bold;
    margin-top: 20px;
  }
}

/* MODAL */
#img-modal {
  .modal-content {
    .img-responsive {
      width: 100%;
    }
  }
}
@media (min-width: $screen-md-min) {
  .popover {
    max-width: 75%;
  }
}


/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
  0%   {
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(300px);
  }
  100% {
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%);
  }
}

.presentacions {
a:link {
    text-decoration: underline;
    color: inherit;
}

a:visited {
    text-decoration: underline;
    color: inherit;
}
}
